/* You can add global styles to this file, and also import other style files */
body{
  font-family: sans-serif;
}

.container{
  margin-right: 5%;
  margin-left: 5%;
}

.common-form{
  display: flex;
  text-align: center;
  margin: auto;
  flex-direction: column;
  width: 300px;
}

.common-input{
  height: 35px;
  margin-bottom: 15px;
  border: 1px solid blueviolet;
  color: blueviolet;
}

.common-button{
  border: 1px solid blueviolet;
  height: 35px;
  cursor:pointer;
  color: blueviolet;
}

.success-message{
  color:green;
  text-align: center;
  background-color: blue;
}

